<!-- This is the "Following" profile page -->

{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h1>Posts From Your Favorite Users</h1>

    <!-- This will compare all the posts with all the favorite users of the logged user. If the post
    belongs to that favorite user, their post will be rendered. That is, only the posts from the user's favorite
    accounts will be rendered. 

    I will end up rendering the post from an array that I created in the views.py file, which already gets the posts
    from the favorite accounts of the logged user. This fixes the bug that prevented my from fetching a post if
    that psot wasn't visible in the "All Posts" page. -->
    {% for post in paginated_posts_in_current_page %}
        <div class="card mb-3">
            <a href="profile/{{post.user}}"><b>{{post.user}}</b></a>
            <p>{{post.body}}</p>
            <p>{{post.timestamp}}</p>

            <!-- "Like" button, and number of likes -->
            <div id="like_div_{{post.id}}">

                <!-- Users will only be able to liek a post if they are logged in -->
                {% if user.is_authenticated %}
                    <button id="like_button_{{post.id}}" class="text_only_button"
                        onclick="like_toggle({{post.id}}, {{post.number_of_likes}})">❤</button>

                <!-- If they aren't logged, they won't be able to like a post -->
                {% else %}
                    <button id="like_button_{{post.id}}" class="text_only_button">❤</button>
                {% endif %}

                <!-- Added a <span> so that the like count appears to the side of the button -->
                <span id="like_count_{{post.id}}">{{post.number_of_likes}}</span>
            </div>
            <br>
        </div>
        <!-- DEBUG msg: this prints the name of the favorite user -->
<!--                {{favorite_user.follows}} -->

<!--                <br>-->
    {% endfor %}

    <!-- This adds the pagination links -->
    {% include "network/pagination.html" %}


    <!-- {% for post in all_posts %}
        {% for favorite_user in favorite_users_query %}

            {% if post.user == favorite_user.follows %}
                <div class="card mb-3">
                    <a href="profile/{{post.user}}"><b>{{post.user}}</b></a>
                    <p>{{post.body}}</p>
                    <p>{{post.timestamp}}</p>
                    <p>❤ {{post.number_of_likes}}</p>
                    <br>
                </div> -->
                <!-- DEBUG msg: this prints the name of the favorite user -->
<!--                {{favorite_user.follows}} -->

<!--                <br>-->
            <!-- {% endif %}


        {% endfor %}
    {% endfor %} -->

{% endblock %}