{% extends "network/layout.html" %}

<!-- This "load static" removed the error message caused by the "static" keyword 
on the src attribute that calls the JS file (source: thedeleted account that replied 
to Carual's post:
https://www.reddit.com/r/django/comments/f12r0r/invalid_block_tag_on_line_17_static_did_you/ ) -->
{% load static %}

{% block body %}


    <!-- I will make the index.html file the “All Posts” page. -->
    <h1>All Posts</h1>

    <!-- I will add the csrf token. For that, I will add the <form> tags in the page that will let me create posts.
    However, the form itself will be created using Django forms. For that, I will create a file called forms.py, and
    create the form there.

    I will add the form for creating a post here in the “All Posts” page.

    I will only render the form for creating a post if the user’s logged in. I should add a “login required” decorator
    in the index.html file for the <form> tag (source: my "commerce" homework submission:
    https://github.com/me50/eduardoluis11/tree/web50/projects/2020/x/commerce .)

    I will use the "as_p" notation while calling the form so that the format looks good in different screen
    sizes.

    I will print a success message if the user creates a post.-->
    {% if user.is_authenticated %}
        <p style="color: green;">{{post_creation_success_message}}</p>

        <form method="post">
            {% csrf_token %}

            {{form.as_p}}   <!-- Django form -->

            <input class="btn btn-primary" type="submit" value="Post">  <!-- Submit button -->
        </form>
        <br>
    {% endif %}

    <!-- 	Remember that everyone should be able to see all posts, regardless of whether or not they are logged in.

	The href of the “All Posts” link on the navbar already has the value “{% url 'index' %}” in it. I don’t have to add
	the link to the “All Posts” navbar link.

	Now, I will at least show the posts in the “All Posts” page, without necessarily showing all the data from all
	the columns. I just want to make sure that I can display the posts on the main page.

	For that, I will have to display data using Jinja notation on the index.html file.

	I can show each of the columns for each post using Jinja notation. I can use “post.likes” or “post.username” to
	show each of the columns of each post.

	I will add a Bootstrap card or something similar to enclose each post in a rectangle shape. That will make it
	easier for users to distinguish each post. I will use the “card mb” class to create the Bootstrap card (source:
	https://getbootstrap.com/docs/4.4/components/card/ .) I will add a max-width to its CSS (using “rem” units) if it
	looks “ugly” on wide screens.

	I ended up using the red heart emoji as the icon that accompanies the like count. Source of the emoji code:
	https://emojipedia.org/red-heart/ .

	Now, I will add the link to the profile page to all instances of the username in the “all posts” page, as well as
	in the navbar. For the navbar, I will grab the username of the logged user. Meanwhile, for the username in the
	posts, I will use Jinja notation to get the username of that user from the Post table.

    If I'm not logged in, and if I didn't post that post, I shouldn't even be able to see the "Edit" link.

    After further consideration, I think that it’s just much easier to use Jinja notation to check if the author of a
    post is the logged user using only Jinja notation directly on the HTML files. Jinja stores the name of the logged
    user in the “user.username” variable.

    The above didn’t work. Instead, I will try sending the logged user’s username as a string via Jinja from the view.
    Then, I will try comparing it to the post’s author.

    To convert the database entry that contains the author of a post (in may case, “post.user”) into a string, I need
    to first use a Django filter called “stringformat” (source:
    https://docs.djangoproject.com/en/4.0/ref/templates/builtins/#filters .) That filter converts variables into
    strings. However, to do that, I need to specify a letter as a parameter to specify the kind of string that I want
    as a result. In my case, I want the letter “s”, since that’s the Python equivalent of using str() to convert
    something into a string (source: https://docs.python.org/3/library/stdtypes.html#old-string-formatting .) It needs
    to be a lower case “s”, or the variable will turn into an empty string (i.e.: ‘’.)

    I’ll make it a link, so I’ll add an <a> tag to the “Edit” word.

    -->
    {% for post in paginated_posts_in_current_page %}
        <div class="card mb-3">
            <a href="profile/{{post.user}}"><b>{{post.user}}</b></a>

            <!-- This renders the "Edit" link if the logged user is the author of the post -->
            {% if user.is_authenticated %}

                <!-- DEBUG msg (source:
                https://stackoverflow.com/questions/46728372/invalid-block-tag-set-expected-empty-or-endfor-did-you-forget-to-registe) -->
<!--                {% with post_author=post.user|stringformat:"s" %}-->
<!--                    <b>{{post_author}}</b>-->
<!--                    <b>{{post.user}}</b>-->


                    <!-- DEBUG msg: This will print something if post.user is a string (source:
                    https://www.webforefront.com/django/usebuiltinjinjafilters.html ) -->
    <!--                {% if post_author is string %}-->
    <!--                    <b>post.user is a string</b>-->
    <!--                {% else %}-->
    <!--                    <b>Sorry. post.user is NOT a string</b>-->
    <!--                {% endif %}-->

                    <!-- This renders the "Edit" link if the logged user is the author of the post -->
                    {% if logged_user_string == post.user|stringformat:"s" %}
                        <a href="#">Edit</a>
                    {% endif %}

<!--                {% endwith %}-->

                <!-- DEBUG msg -->
<!--                <b>{{logged_user_string}}</b>-->
            {% endif %}


            <p>{{post.body}}</p>
            <p>{{post.timestamp}}</p>
            <p>❤ {{post.number_of_likes}}</p>
            <br>
        </div>

    {% endfor %}

<!--    {{paginated_posts_in_current_page}}-->

    <br>
    <br>
    <!-- DEBUG code: This will let me test if React is working (source: 
    https://youtu.be/jrBhi8wbzPw  -->
    <div id="react-test"></div>



    <!-- DEBUG code: This will test if my code is actually detecting JS code -->
<!--    <script>-->
<!--        console.log("This JS code was executed directly into the index.html file.")-->
<!--    </script>-->

    <!-- To show the links to the “previous” and “next” pages on the footer of the pages with posts, I will use this
    to call the pagination.html template (https://testdriven.io/blog/django-pagination/ ).

    To make it work, I needed to add "network/" in front of "pagination.html".
    -->
	{% include "network/pagination.html" %}

{% endblock %}

<!-- This will call the .js file, which contains all the JS code. Source:
https://cs50.harvard.edu/web/2020/projects/3/mail/ . 

I will add the "babel" attribute to it so that the browser is able to interpret 
the React code (source: https://youtu.be/jrBhi8wbzPw .) -->
<!-- {% block script %}
    <script src="{% static 'network/network_script.js' %}"></script>
{% endblock %} -->

    <!-- To show the links to the “previous” and “next” pages on the footer of the pages with posts, I will use this
    to call the pagination.html template (https://testdriven.io/blog/django-pagination/ ):
    -->
<!--	{% include "pagination.html" %}-->