{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        


        <!-- This installs React -->
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

        <!-- This installs Axios, which will let me easily use fetch() with React (source:
        https://youtu.be/o7c_RRUTQHo ) -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- I will redirect the user to the "All Posts" page if they click on the logo -->
            <a class="navbar-brand" href="{% url 'index' %}">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <!-- This will send the user to their profile page if they click on it.

                         BUG: If the user open the profile page by clicking on a post, and then they click on their own
                         username in the navbar, they will go to “http://127.0.0.1:8000/profile/profile/username”, and
                         an error message. I would need to redirect the user to the home page, and then to their
                         profile page. Or, I could make an “if” statement, and check the current URL. If the current
                         URL is any profile page, I will send the user to “/username”. Else, if the user is in the
                         homepage, the user will be redirected to “profile/username”. Let me see if there’s a way
                         to type a URL in “href” that tells the user to go to the home page.

                        BUG FIX: I just needed to add a “/” before “profile” in the href attribute (i.e: “/profile/…”)
                        (source: https://www.w3schools.com/html/html_links.asp .)
                        -->
                        <a class="nav-link" href="/profile/{{user.username}}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <!-- 	Now, I will add the appropriate “href” attribute to the “Following” link on the navbar so
                    that users can enter the page. But remember: only logged users should be able to see and click the
                    link. So, I will add a “login” decorator to the “Following” link in the navbar. -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following_page' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>

        <!-- I will add the "container" Bootstrap class to add margins to the entire body -->
        <div class="body container">
            {% block body %}
            {% endblock %}
        </div>
        
        <!-- This will access the JS file. -->
        <script src="{% static 'network/script.js' %}"></script>


        <!-- This will try to access the JS file. 
            
        I will add the "babel" attribute to it so that the browser is able to interpret the React code 
        (source: https://youtu.be/jrBhi8wbzPw .) -->
        <!-- <script type="text/babel" src="{% static 'network/script.js' %}"></script> -->


        <!-- To show the links to the “previous” and “next” pages on the footer of the pages with posts, I will use this
        to call the pagination.html template (https://testdriven.io/blog/django-pagination/ ):
        -->


        <!-- The above didn’t work, but it’s not necessary either. There are other ways to do this. I could simply
        repeat the chunk of code that contains the pagination code into the index(), profile(), and following_page()
        views. That way, I won’t need to use the pagination.html file. However, this isn’t the efficient way of doing
        this. So, I will try to add this code in layout.html once, but it may not work if it doesn’t detect the proper
        Jinja variable that contains the paginated code.

        For the time being, I will include this code manually in the index(), following_pages(), and profile()
        views, since, if I include this in the layout.html file, this will appear everywhere (including the longin
        page.)

        Source of this code snippet: https://testdriven.io/blog/django-pagination/
        -->
<!--        <div>-->
<!--          <span>-->
<!--            {% if page_obj.has_previous %}-->
<!--              <a href="?page={{ page_obj.previous_page_number }}">Previous</a>-->
<!--            {% endif %}-->
<!--            <span>-->
<!--              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--            </span>-->
<!--            {% if page_obj.has_next %}-->
<!--              <a href="?page={{ page_obj.next_page_number }}">Next</a>-->
<!--            {% endif %}-->
<!--          </span>-->
<!--        </div>-->

    </body>
</html>