<!-- This stores the "previous" and "next" pages from the paginated pages.

I’ll look at the webpage where I found a repo that gives me an example of a paginated page to see how to create the
“next” and “previous” pages, which is located at this source: https://testdriven.io/blog/django-pagination/

First, it seems that I should create an HTML file exclusively for storing the “previous” and “next” pages. The website
that I mentioned above recommends that I call that file “pagination.html,” so I will do so.

I need to implement this from the “Hints” section: “Bootstrap’s Pagination features may be helpful for displaying pages
on the front-end (in your HTML).” That is, I need to use Bootstrap to make my pagination links to look better. The
Bootstrap code is located here: https://getbootstrap.com/docs/4.4/components/pagination/

-->

<!-- DEBUG -->
<!--<p>This will contain the pagination pages</p>-->

<!-- This will add the "next" and "previous" links. I need the Jinja variable that has the paginated posts in here.
The "previous_page_number", "paginator.num_pages", and "has_next" are properties of paginated variables. These
variables send the user to the previous and next pages, and show the user the total number of pages.

Source of this code snippet: https://testdriven.io/blog/django-pagination/
-->
<div>
  <nav aria-label="Page navigation example">
<!--    <span>-->

    <ul class="pagination">
      {% if paginated_posts_in_current_page.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ paginated_posts_in_current_page.previous_page_number }}">Previous</a>
        </li>
      {% endif %}
<!--      <span>-->

      <li class="page-item">
        Page {{ paginated_posts_in_current_page.number }} of {{ paginated_posts_in_current_page.paginator.num_pages }}
      </li>
      <!--      </span>-->

      {% if paginated_posts_in_current_page.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ paginated_posts_in_current_page.next_page_number }}">Next</a>
        </li>
      {% endif %}
    </ul>


<!--    </span>-->
  </nav>
</div>