<!-- This is the user profile page -->

{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <!-- If the user exists, I will render their username as the title of the page -->
    {% if error_message == 'Error: That username does not exist.' %}

        <!-- This displays an error message if the username doesn't exist -->
        <p style="color: red;"><b>{{error_message}}</b></p>

    {% else %}
        <h1>{{username}}'s Profile Page</h1>
        <br>
        <br>

        <!-- This displays the number of followers of the user from the profile, and how many people that
        user is following -->
        <p>{{number_of_followers}} Followers</p>
        <p>{{number_of_people_that_user_follows}} Following</p>
        <br>

        <!-- This displays all the posts from the user in reverse chronological order. I’ll put a title that says
        something like “Posts” above the profile’s posts. -->
        <h5><b>{{username}}'s Posts</b></h5>
        {% for post in all_posts_from_user %}
            <div class="card mb-3">
                <a href="profile/{{post.user}}"><b>{{post.user}}</b></a>
                <p>Edit</p>
                <p>{{post.body}}</p>
                <p>{{post.timestamp}}</p>
                <p>❤ {{post.number_of_likes}}</p>
                <br>
            </div>
        {% endfor %}

    {% endif %}


{% endblock %}