<!-- This is the user profile page -->

{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <!-- If the user exists, I will render their username as the title of the page -->
    {% if error_message == 'Error: That username does not exist.' %}

        <!-- This displays an error message if the username doesn't exist -->
        <p style="color: red;"><b>{{error_message}}</b></p>

    {% else %}
        <h1>{{username}}'s Profile Page</h1>
        <br>
        <br>

        <!-- This displays the number of followers of the user from the profile, and how many people that
        user is following -->
        <p>{{number_of_followers}} Followers</p>
        <p>{{number_of_people_that_user_follows}} Following</p>

        <!-- "Follow" button.

        It's better to assign it an ID rather than a class, since I will only show this button
        in the profile page.

        But, to avoid any bugs, I will add code to prevent the user from following themselves. I will add an extra
        condition that says that if the logged user is different to the user in the profile page, to display the
        “follow” button. I could do that directly in the profile.html file by using Jinja notation. I can access the
        username from the logged user using “user.username”. And, I’m already sending via Jinja a variable called
        “username”, which stores the name of the user of the profile page. So, if both “user.username” and “username”
        are different, and if a user is logged, I will render the “Follow” button.

        BUG: For some reason, the “if” statement in profile.html is telling me that “username” is different from
        “user.username”, even though both things show the exact same text. Let me see if I can turn both into strings.
        (FIXED.)

        -->
        {% if user.is_authenticated and is_follow_active == True %}

            <!-- DEBUG message -->
<!--            <p>{{username}}</p>-->
<!--            <p>{{user.username}}</p>-->

            <!-- I will create the button using React -->
            <div id="follow_or_unfollow"></div>

            <!-- <button id="follow_or_unfollow" class="btn btn-primary">Follow</button> -->
        {% endif %}

        <br>
        <br>

        <!-- This displays all the posts from the user in reverse chronological order. I’ll put a title that says
        something like “Posts” above the profile’s posts. -->
        <h5><b>{{username}}'s Posts</b></h5>
        {% for post in all_posts_from_user %}
            <div class="card mb-3">
                <a href="/profile/{{post.user}}"><b>{{post.user}}</b></a>
                <p>Edit</p>
                <p>{{post.body}}</p>
                <p>{{post.timestamp}}</p>
                <p>❤ {{post.number_of_likes}}</p>
                <br>
            </div>
        {% endfor %}

    {% endif %}


{% endblock %}