<!-- This is the user profile page -->

{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <!-- If the user exists, I will render their username as the title of the page -->
    {% if error_message == 'Error: That username does not exist.' %}

        <!-- This displays an error message if the username doesn't exist -->
        <p style="color: red;"><b>{{error_message}}</b></p>

    {% else %}
        <!-- I added a <span> to the username of the person in the profile to access their username to 
        use it in the fetch() function without having to use Jinja code. This will make it easier for
        me to access the profile's username if I change my JS code into React. Source of how to use the
        <span> tag: https://www.w3schools.com/tags/tag_span.asp -->
        <h1><span id="person_profile">{{username}}</span>'s Profile Page</h1>
        <br>
        <br>

        <!-- This displays the number of followers of the user from the profile, and how many people that
        user is following -->
        <p>{{number_of_followers}} Followers</p>
        <p>{{number_of_people_that_user_follows}} Following</p>

        <!-- "Follow" button.

        It's better to assign it an ID rather than a class, since I will only show this button
        in the profile page.

        But, to avoid any bugs, I will add code to prevent the user from following themselves. I will add an extra
        condition that says that if the logged user is different to the user in the profile page, to display the
        “follow” button. I could do that directly in the profile.html file by using Jinja notation. I can access the
        username from the logged user using “user.username”. And, I’m already sending via Jinja a variable called
        “username”, which stores the name of the user of the profile page. So, if both “user.username” and “username”
        are different, and if a user is logged, I will render the “Follow” button.

        BUG: For some reason, the “if” statement in profile.html is telling me that “username” is different from
        “user.username”, even though both things show the exact same text. Let me see if I can turn both into strings.
        (FIXED.)

        As for toggling the button between “follow” and “unfollow”, I will use JS code, and either a querySelector or
        a getElementByID. I will use the querySelector to check the word being printed on that button (I may convert
        that value into a string using str() to avoid bugs.) If the word being obtained is “follow”, I will change
        that button into “unfollow” if the user clicks on it (or a “submit” is being sent,) and vice-versa.

        Just like there is an event listener called “onClick()” in HTML, there’s also one called “onsubmit()” (source:
        https://www.w3schools.com/tags/ev_onsubmit.asp .) So, I will add an “onsubmit” attribute to the button in
        profile.html to call the appropriate JS function when I click on it.

        To avoid errors in React, I need to use only IDs to make the JS calls, not classes (source: Anastasiia Solop's
        reply on https://stackoverflow.com/questions/64097973/uncaught-error-minified-react-error-200 .

        If I submit an input, the entire page will reload. So, I will re-do the buttons as <button> tags, and I will
        delete the <input> tags. Also, they will be activated with an onClick(), NOT with an onsubmit. That’s so I
        don’t reload the entire page when I click on the “Follow/Unfollow” button.

        I will put the button outside of the React div. The React div will be empty, and won’t render anything until
        the user clicks on the “follow” button. Then, if the user clicks on the button, one of 2 things will happen
        with an “if” statement: 1) I will get the original button, delete it, and rebuild it, but this time, it will
        display the word “unfollow”. 2) The same as the previous condition, but I will render the word “follow”.

        I changed my mind, and decided to first render the follow button using JS. Afterwards, I will render it by using
        React. I will add the script at the bottom of the page. To call the JS script, I will add an ID to the "follow"
        button.

        After thinking things through, it’s best to initially render the “follow” button via Django, since, when I first 
        enter the page, my JS code has no way of knowing if the user is following the other person or not. So, I won’t 
        know whether to initially render “follow” or “unfollow” in the button. That could be fixed afterwards, but, for 
        the time being, I will combine Jinja and Django with JS and JSON.

        I added Jinja notation to the button to insert the name of the person from the profile. I need that to use the API.

        I need to add an ID to the "Edit" button so that I can make it disappear when I click on it, and make it appear
        after clicking on "Save".
        -->
        {% if user.is_authenticated and is_follow_active == True %}

            <!-- Jinja/Django "Follow/Unfollow" button -->
            <!-- <button id="follow_or_unfollow" class="btn btn-primary" onClick="updateFollowState()">
                {{follow_button_text}}
            </button> -->

            <!-- This generates the React "Follow/Unfollow" button -->
            <div id="follow_unfollow_container"></div>

            <!-- DEBUG message -->
<!--            <p>{{username}}</p>-->
<!--            <p>{{user.username}}</p>-->

            <!-- I will modify the button using React -->
<!--            {% if is_user_following_profile == False %}-->

<!--                &lt;!&ndash; This renders the "Follow" button &ndash;&gt;-->
<!--                <div id="follow_button"></div>-->


<!--                <div>-->
<!--                    <button id="follow_or_unfollow" type="submit" class="btn btn-primary"-->
<!--                            onClick="Follow_button_test()">-->
<!--                        Follow-->
<!--                    </button>-->
<!--                </div>-->
<!--            {% else %}-->

<!--                &lt;!&ndash; This renders the "Unfollow" button &ndash;&gt;-->
<!--                <div id="unfollow_button"></div>-->


<!--&lt;!&ndash;                <div id="follow_or_unfollow_div">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button id="follow_or_unfollow" type="submit" class="btn btn-primary"&ndash;&gt;-->
<!--&lt;!&ndash;                            onClick="Follow_button_test()">&ndash;&gt;-->
<!--&lt;!&ndash;                        Unfollow&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            {% endif %}-->

            <!-- DEBUG msg: React test  -->
<!--            <div id="follow_or_unfollow_div"></div>-->

            <!-- DEBUG message: This will show me the value of is_user_following_profile -->
            <p>Am I following this person?: <b>{{is_user_following_profile}}</b></p>

            <!-- DEBUG message: This shows me the value of the Query Set statement that checks if a user is
            following the person in the profile -->
<!--            <p><b>{{is_user_following_query_set}}</b></p>-->
<!--            <p><b>{{is_user_following_query_set.0}}</b></p>-->
<!--            <p><b>{{is_user_following_query_set.0.follower}}</b></p>-->
<!--            <p><b>{{is_user_following_query_set.0.follows}}</b></p>-->

            <!-- <button id="follow_or_unfollow" class="btn btn-primary">Follow</button> -->
        {% endif %}

        <br>
        <br>

        <!-- This displays all the posts from the user in reverse chronological order. I’ll put a title that says
        something like “Posts” above the profile’s posts. -->
        <h5><b>{{username}}'s Posts</b></h5>
        {% for post in paginated_posts_in_current_page %}
            <div class="card mb-3">
                <a href="/profile/{{post.user}}"><b>{{post.user}}</b></a>

                <!-- This renders the "Edit" link if the logged user is the author of the post -->
                {% if user.is_authenticated %}
                    {% if logged_user_string == post.user|stringformat:"s" %}
                        <div>
                            <div id="edit_button_{{post.id}}">
                                <button class="btn btn-primary" style="width: 80px; margin:10px 0px;" 
                                onclick="edit('{{post.id}}')">
                                    Edit
                                </button>
                            </div>

                            <!-- This will render the "Save" button after the user clicks on "Edit" -->
                            <div id="save_button_{{post.id}}"></div>
                        </div>
                    {% endif %}
                {% endif %}

                <!-- Body of the post -->
                <div id="{{post.id}}">
                    <p>{{post.body}}</p>
                </div>

                <p>{{post.timestamp}}</p>
                <p>❤ {{post.number_of_likes}}</p>
                <br>
            </div>
        {% endfor %}

    {% endif %}

    <!-- This adds the pagination links -->
    {% include "network/pagination.html" %}

    <!-- React version of the "follow" button.
    
    I will at first leave the “Jinja” button that I created originally, and I will delete it afterwards using React. I will create a div that will go 
    below the “Jinja” button, which will initially be empty. That div is where all of the HTML generated by the React component will go. Next, I will create 
    the component in React. That component will initially return nothing. That won’t be noticeable since the div where everything will be inserted will 
    initially be empty anyways.
	
    However, I will create a function that will go inside of that component. The function will be called “updateFollowState()”, and will be activated when 
    the user clicks on a button. I DON’T know if I’ll be able to activate this function if the initial “follow” button is outside of the empty React div. 
    Well, this function will do the same that it did in my fetch() function that I did with Vanilla JS: it will activate the API, and will change the button 
    from “follow” to “unfollow”, and vice-versa, and update the database.
	
    The difference here is that I will also delete the original button that was created with Jinja in Django. Then, I will render a button using only React. 
    The buttons that will toggle will be entirely generated by React.

    BUG: the 1st fetch() call is being infinitely called on React. I need to call the API only once the 1st time I enter the page. Otherwise, the button will 
    render between “follow” and “unfollow” endlessly without me clicking on anything.
	
    To fix that bug, it seems that I need to use a function called “usEffect”, which is a React hook that will let me execute a function (like a fetch() 
    call) only once (source: https://youtu.be/o7c_RRUTQHo .)

    BUG FIX: I think I see the mistake: I SHOULDN’T use a POST request when using the 1st fetch() call in my React component, since that would be the equivalent 
    of pressing the follow button infinite times. I don’t want that. The 1st fetch() call will only tell me whether the logged user is following the 
    other person by checking the database.

    Now, I will make the React button to insert or remove the user into the Follower table. This will be done by making another fetch() call when the user 
    clicks on the React button. This will be done by creating a new function within the React component that renders the button. 
    
    -->
    <script type="text/babel">

        // Source: Davidosky's reply on https://www.codegrepper.com/code-examples/javascript/useeffect+is+not+defined
        // import React, { useEffect, useState } from "react";


        function Follow_or_unfollow_user() {

            // The button should be either "Follow/Unfollow", not "true/false". I can't insert the JSON data as a starting value
            const [isFollowing, setFollowState] = React.useState("Undecided");

            // This will get the current word that's being displayed on the "follow/unfollow" button
            //    currentButtonState = document.querySelector("#follow_or_unfollow")

            // This gets the profile's username from the <span> in the <h1> tag
            person_profile = document.getElementById("person_profile").innerHTML

            // This is the API for the follow() view, which checks whether a user is following the profile person
            fetch(`/profile/${person_profile}/follow`)
            .then((response) => response.json())  // This creates the JSON data
            .then((data) => {
                // All the JS code that I want to execute
                
                console.log("This is being rendered with React");

                // This stores the JSON 'true' or 'false' values that tell me whether to render the button
                // renderFollowButtonReact = data.renderFollowButton



                // This will write "Follow" on the button if the user isn't followign the user
                if (data.renderFollowButton == true) {
                    setFollowState("Follow");
                }
                // This will write "Unfollow" on the button if the user is following the other person
                else {
                    setFollowState("Unfollow");
                }

            })

            // This will toggle the button to "follow" or "unfollow" if the user clicks on it
            function updateFollowStateReact() {

                fetch(`/profile/${person_profile}/follow`, {
                    method: 'POST'    
                })
                .then((response) => response.json())  // This creates the JSON data
                .then((data) => {
                    // All the JS code that I want to execute
                    
                    console.log("This is being rendered with React");

                    // This stores the JSON 'true' or 'false' values that tell me whether to render the button
                    // renderFollowButtonReact = data.renderFollowButton



                    // This will write "Follow" on the button if the user isn't followign the user
                    if (data.renderFollowButton == true) {
                        setFollowState("Follow");
                    }
                    // This will write "Unfollow" on the button if the user is following the other person
                    else {
                        setFollowState("Unfollow");
                    }

                })

            }

            // This prevents the 1st fetch() call from running endlessly (so that it runs only once)
            // useEffect(() => {
                
            //     // This is the API for the follow() view, which checks whether a user is following the profile person
            //     fetch(`/profile/${person_profile}/follow`, {
            //         method: 'POST'    
            //     })
            //     .then((response) => response.json())  // This creates the JSON data
            //     .then((data) => {
            //         // All the JS code that I want to execute
                    
            //         console.log("This is being rendered with React");

            //         // This stores the JSON 'true' or 'false' values that tell me whether to render the button
            //         // renderFollowButtonReact = data.renderFollowButton



            //         // This will write "Follow" on the button if the user isn't followign the user
            //         if (data.renderFollowButton == true) {
            //             setFollowState("Follow");
            //         }
            //         // This will write "Unfollow" on the button if the user is following the other person
            //         else {
            //             setFollowState("Unfollow");
            //         }

            //     })
            // })



            // This stores whether the button should say "follow" or "unfollow"
            // const [isFollowing, setFollowState] = React.useState("Undecided");

            // This will delete the original "Jinja" button, and will recreate the button using React when the user clicks on it
            // function updateFollowStateReact() {

            //     // If the button says "follow", I will change it to "unfollow"
            //     if (isFollowing == "Follow") {
            //         setFollowState("Unfollow");
            //     }
            //     else {
            //         setFollowState("Follow");
            //     }

            //     // This will delete the original "Jinja button"
            //     document.getElementById("follow_or_unfollow").innerHTML = '';

            //     // This is the HTML code for the button that will be recreated by React
            //     return (
                
            //         <button id="follow_or_unfollow_react" class="btn btn-primary" onClick={updateFollowStateReact}>
            //             {isFollowing}
            //         </button>
            //     );

            // }

            // By default, this React component shouldn't render anything, but if I don't render anything, React will show me
            // a bug in the browser's console

            // This will render the "Follow/Unfollow" button when the user first enters the page
            // This will render the fully functional "follow" button by using React
            return (
                <button id="follow_or_unfollow_react" class="btn btn-primary" onClick={updateFollowStateReact}>
                    {isFollowing}
                </button>
            );
        }

        // This renders the button
        ReactDOM.render(<Follow_or_unfollow_user />, document.querySelector("#follow_unfollow_container"));

    </script>

    <!-- JS script for handling the "follow/unfollow" functionality. This will later be replaced by React code.
    
    I will first try following and unfollowing a user via a fetch() call by using vanilla JS. Afterwards, I will “translate” 
    that code into React. The disadvantage of doing this is that, at first, the follower count won’t be updated. However, I 
    can later re-do the “update follower count” by using another fetch() call to fix that, if I want to. 

    Apparently, it doesn’t matter if I use a “submit” or a “onclick”: if I use a proper fetch() call, only a small part of 
    the page will be updated.

    Remember that, if the database needs to wait a bit before being updated, I can simply add a “timeout” function to wait for 
    a few seconds before updating the part of the page that I want to update.

    I won’t necessarily have to specify “json.stringify” if I’m not getting any user input to send to the follow() view from the 
    profile page. So, just by making the fetch() call I will already send JSON data into the follow() view.
	
    Anyways, to make this call, it would be best to use a POST request. So, I will have to manually specify the POST request on 
    the fetch() call on the .html file.

    If I entered into “username/profile/follow”, I would only see a JS array saying “True” or “False”.
	
    Then, by using the fetch() call, I would make the “if” statement to render “Follow/Unfollow”, depending on whether the 
    variable says “True/False”. The “True/False” value would be stored in the “data” variable in the fetch() function. So, I 
    will render “Follow” if data is equal to “True”, or “Unfollow” if it’s equal to “False”.
	
    To call the JSON data by using JS in the .html file, I would need to use the “.” notation to call the variable that I want. 
    That is, I would need to use notation like the following:
        data.variable_that_I_want_to_access
	
    In my case, I could execute code like the following: “data.renderFollowButton”. Basically, JSON is behaving like Django’s 
    Jinja notation.

    Remember that, to create a JS function, I need to first type the word “function”. That fixed a bug that didn’t let me 
    execute the updateFollowState JS function.

    Now, to use fetch(), I will have to somehow grab the name of the person of the profile using JS, and plug that in into 
    the JS function. I could send it via a parameter from the button, and that parameter could come from Jinja notation from 
    one of the views (from the profile() view to be specific). That’s the easiest way to grab a the username of the person in 
    the profile, and send it to the JS function that changes the follow button.

    BUG: The fetch() function for the 'follow' button is almost working perfectly. The only thing is that it has a bug that 
    prevents the 'follow/unfollow' button to change to 'follow' or 'unfollow' after clicking on it. I need to reload the 
    entire page to see the button change.

    BUG FIX: Turns out that booleans in JS should be typed in lowercase (source: 
    https://bobbyhadz.com/blog/javascript-referenceerror-true-false-is-not-defined#:~:text=This%20causes%20the%20JavaScript%20engine,false%20booleans%20in%20all%20lowercase. 
    ). I was typing “True” with uppercase letters.

    I will modify the code to get the profile's username from a <span> tag in the <h1> title of the page, so that I don't
    need to plug in the username directly by using Jinja. This way, if I use React, I wont have to plug in code in Jinja 
    into React, which would cause me trouble.

    -->
    <!-- <script>

        function updateFollowState() {
            // console.log("You just clicked the 'follow' button");

            // This gets the profile's username from the <span> in the <h1> tag
            person_profile = document.getElementById("person_profile").innerHTML

            fetch(`/profile/${person_profile}/follow`, {
                method: 'POST'    
            })
            .then((response) => response.json())  // This creates the JSON data
            .then((data) => {
                // All the JS code that I want to execute
                
                console.log("You just clicked the 'follow' button");

                // This will write "Follow" on the button if the user stops following the other person
                if (data.renderFollowButton == true) {
                    document.getElementById("follow_or_unfollow").innerHTML = "Follow";
                }
                // This will write "Unfollow" on the button if the user starts following the other person
                else {
                    document.getElementById("follow_or_unfollow").innerHTML = "Unfollow";
                }

            })
        }
    </script> -->

{% endblock %}