/* I wanted to fix the Django form so that the label of the <textarea> is on top of the <textarea>. To do that, I
simply need to edit the CSS of the label, so that it occupies 100% of the width of the screen (source:
user10238703's reply on
https://stackoverflow.com/questions/51893239/how-to-place-a-the-label-description-of-a-django-char-field-above-the-textbox .)

*/
label {
    width: 100%;
}

/* This will make a text-only button for the "like" button. That is, it will make the borders and the rectangle of
the button to disappear, and only the heart emoji should be visible (source: sdleihssirhc's reply from
https://stackoverflow.com/questions/5901732/how-to-create-a-text-only-button .)
*/
.text_only_button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}


/* body {
    background-color: black;
} */